.reportsTable {
  max-width: 100%;
  background-color: whitesmoke;
  /* border: 1px solid lightgray; */
  /* 
  border-collapse: separate;
  border-spacing: 1em; */
}

@media screen and (max-width: 500px) {
  .reportsTable {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 300px) {
  .reportsTable {
    font-size: 0.6em;
  }
}
