.candidateCard {
  width: 15rem;
  max-width: 100%;
  height: 100%;
  padding: 0;
  box-shadow: 1px 1px 5px #555;
}
.candidateCard:hover {
  box-shadow: 2px 2px 15px #555;
}
.candidateCard a {
  text-decoration: none;
  color: inherit;
}
.candidateCard img {
  display: block;
  width: 80%;
  max-width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: top center;
  margin: 0 auto;
  border-radius: 50%;
}

.candidateCard .name,
.candidateCard .email {
  word-break: break-word;
  text-align: center;
  margin: 0.1rem;
}

.candidateCard .name {
  font-size: 1.2rem;
}

.candidateCard .email {
  /* font-size: 0.8rem; */
  color: #444;
}
