* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to top, rgba(3, 37, 32, 0.199), #fff); */
  min-height: 100vh;
}

@media screen and (max-width: 400px) {
  .App {
    font-size: 80%;
  }
}
